/* styles.css */

.navbar {
    background-color: #faee49 !important;
    color: #dd62cb; /* Navbar text color */
}

.navbar-brand {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings: "MORF" 13, "SHLN" 50;
     font-size: 55px;
}

.login-bg {
    background-color: #faee49;
}

body {
    background-color: #c345a9 !important; /* Body background color */
    color: white; /*body text color */
}

/* Custom CSS for settings page */
.card-header {
    background-color: #44193a; 
    color: #fefefe; 
}

.card-body {
    background-color: #e47fc4; 
    color: #000000;
}

.card-body-custom {
    background-color: #e47fc4;
    color: #000000; 
}


.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

.task-details {
    flex-grow: 1;
    text-align: right;
}

.category-work {
    background-color: rgb(154, 200, 250); /* Work category color */
    color: #000; /* Text color for Work category */
}

.category-personal {
    background-color: rgba(220, 175, 230, 0.966); /* Personal category color */
    color: #000000; /* Text color for Personal category */
}

.category-school {
    background-color: rgb(195,255,124)    ; /* School category color */
    color: #000; /* Text color for School category */
}

/* Adjust text wrapping */
.task-details p {
    text-align: left; /* Align modal body content to the left */
    white-space: normal; /* Allow text wrapping */
    font-weight: bold;

}
.modal-content label {
    font-weight: bold;
}

.due-date-red {
    background-color: #ff0202;
    color: rgb(0, 0, 0);
}


.due-date-orange {
    background-color: darkorange;
    color: rgb(0, 0, 0);

}

.due-date-yellow {
    background-color: yellow;
    color: rgb(0, 0, 0);
}

.due-date-green {
    background-color: green;
    color: rgb(0, 0, 0);
}

