/* styles.css */

.navbar {
    background-color: #6338d9 !important;
    color: #ffffff; /* Navbar text color */
}
.navtext {
    color: white;
}

.navbar-brand {
    font-family: "Honk", system-ui;
    font-optical-sizing: auto;
     font-weight: 400;
     font-style: normal;
     font-variation-settings: "MORF" 13, "SHLN" 50;
     font-size: 55px;
}

.login-bg {
    background-color: #faee49;
}

body {
    background-color: #20113b !important; /* Body background color */
    color: white; /*body text color */
}

/* Custom CSS for settings page */
.card-header {
    background-color: #44193a; 
    color: #ffffff; 
}

.card-body {
    background-color: #be9ab3; 
    color: #000000;
}

.card-body-custom {
    background-color: #be9ab3;
    color: #000000; 
}


.list-group-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflowed text */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
}

.task-details {
    flex-grow: 1;
    text-align: right;
}

.category-work {
    background-color: rgb(154, 200, 250); /* Work category color */
    color: #000; /* Text color for Work category */
}

.category-personal {
    background-color: rgba(220, 175, 230, 0.966); /* Personal category color */
    color: #000000; /* Text color for Personal category */
}

.category-school {
    background-color: rgb(195,255,124)    ; /* School category color */
    color: #000; /* Text color for School category */
}

/* Adjust text wrapping */
.task-details p {
    text-align: left; /* Align modal body content to the left */
    white-space: normal; /* Allow text wrapping */
    font-weight: bold;

}
.modal-content label {
    font-weight: bold;
}

.due-date-red {
    background-color: #ff0202;
    color: rgb(0, 0, 0);
}


.due-date-orange {
    background-color: darkorange;
    color: rgb(0, 0, 0);

}

.due-date-yellow {
    background-color: yellow;
    color: rgb(0, 0, 0);
}

.due-date-green {
    background-color: green;
    color: rgb(0, 0, 0);
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -60px;
  }
  
  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }